@import 'normalize';
@import 'fonts';
@import 'mixins';

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  min-height: 100%;
}

*,
*:before,
*:after {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $colorWhite;
  background: #000000;
  font-family: 'caviar_dreams', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.row {
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 1280px;
}