@import 'normalize';
@import 'fonts';
@import 'mixins';

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  min-height: 100%;
}

*,
*:before,
*:after {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $colorWhite;
  background: #000000;
  font-family: 'caviar_dreams', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.row {
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  max-width: 1440px;
  width: 1280px;
  margin: 0 auto;
}


/* footer */
.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.footer__links {
  li {
    a {
      text-decoration: none;
      color: #98474f;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .fb-link {
    position: relative;
    display: block;
    width: 20px; 
    height: 20px;
    margin: 0 40px;
    padding: 20px;
    background: transparent url('/src/assets/facebook-logo.png') no-repeat center center;
    background-size: 30%;
    text-indent: -99999px;
  }
}




/** common **/
.bordered-link {
  &::after {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #98474f;
    transform: translate(-50%, -50%);
    transition: all ease 0.5s;
  }
  &:hover::after {
    width: 80%;
    height: 80%;
  }
}

.form__button--submit {
  .bordered-link:hover::after {
    width: 90%;
    height: 90%;
  }
}