@import 'normalize';
@import 'fonts';
@import 'mixins';


@import 'header';
@import 'bio';
@import 'gallery';
@import 'knowledge';
@import 'contact';
@import 'footer';


html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  min-height: 100%;
}

*,
*:before,
*:after {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $colorWhite;
  background: #111111 url(/src/assets/images/page-bg.png) center top repeat;
  font-family: 'caviar_dreams', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.row {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}


/** common **/
.bordered-link {
  position: relative;
  display: block;
  &::after {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid $colorPrimary;
    transform: translate(-50%, -50%);
    transition: all ease 0.5s;
  }
  &:hover::after {
    width: 80%;
    height: 80%;
  }
}

