.gallery {
  .row {
    max-width: 100%;
    height: auto;
  }
  .container {
    width: 100%;
    max-width: 100%;
    // overflow: hidden;
    height: auto;
  }
  h2 {
    text-align: center;
  }
  .gallery__slider {
    position: relative;
    padding: 100px 0;
    height: 100%;
    overflow: hidden;
    display: flex;
  }
    .slides__wrapper {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      .slide__item {
        width: 33vw;
        // transition: all ease 0.5s;
      }
      transform: translateX(0);
      transition: all ease 0.5s;
    }


  .slide__item {
    z-index: 1;
    transform: scale(1);
    transition: all ease 0.5s;
    img {
      max-width: 100%;
    }
    &.slide__item--active{
      z-index: 10;
      transform: scale(1.4);
    }
  }

  .slider__arrow {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 3;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 0;
    outline: 0;
    border-radius: 50%;
    background-color: #818999;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: #6c6d6e;
    }

    svg {
      margin-top: 4px;
    }

  }
  .slider__arrow--prev {
    left: 3rem;
  }
  .slider__arrow--next {
    right: 3rem;
  }
}