.knowledge {
  overflow: hidden;
}
.knowledge__quote {
  width: 50%;
  margin: 0 auto;
  p {
    font-size: 40px;
    text-align: center;
  }

  &::before {
    content: '';
    position: absolute;
    left: -5%;
    width: 35%;
    height: 100%;
    background: transparent url(../img/knowledge-1.png) no-repeat center center;
    background-size: cover;
    -webkit-mask-image:-webkit-gradient(linear, center center, right center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5%;
    width: 35%;
    height: 100%;
    background: transparent url(../img/knowledge-2.png) no-repeat center center;
    background-size: cover;
    -webkit-mask-image:-webkit-gradient(linear, center center, left center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1;
  }
}