.knowledge {
  overflow: hidden;

  article {  }

  &__quote {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    min-height: 720px;
    width: 530px;
    margin: 0 auto;
    @include bp('max', 1365px ){
      min-height: 550px;
      width: 480px;
    }

    p {
      font-size: 26px;
      line-height: 36px;
      text-align: center;
      @include bp('max', 1365px ){
        font-size: 21px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: -650px;
      width: 800px;
      height: 100%;
      background: transparent url(../img/knowledge-left.png) no-repeat center center;
      background-size: contain;
      // -webkit-mask-image:-webkit-gradient(linear, center center, right center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      // mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
      z-index: -1;
      @include bp('max', 1365px ){
        left: -600px;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -650px;
      width: 800px;
      height: 100%;
      background: transparent url(../img/knowledge-right.png) no-repeat center center;
      background-size: contain;
      // -webkit-mask-image:-webkit-gradient(linear, center center, left center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      // mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
      z-index: -1;
      @include bp('max', 1365px ){
        right: -600px;
      }
    }
  }
}